#pika{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: auto;
    
}
#hi{
    text-align: center;
    color: gold;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 3px solid gold;;
    background-color: aliceblue;
    background-clip: text;
}
body{
    background-image: url(https://cdn.pixabay.com/video/2019/06/17/24515-343454414_tiny.jpg);
    background-size: cover;
    background-position: center;

}
#pw{
    font-size: 50px;
    background-color: green;
    color: red;
}
#pe{
    position: relative;
    transform: rotate(-45deg);
    font-size: 24px;
    
    color: plum;

   display: inline-block;
   padding: 10px;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.6), 0 0 25px rgba(255, 105, 180, 0.4); 
    border-radius: 12px;
    right: 0;
}
div{
    display: flex;
    align-items: center; 
}
.fifi{
    display: flex;
    flex-direction:row;
    background-color: blue;
     padding: 10px;
    border-radius: 12px;
    justify-content:space-between;
}
#fi{
    width:100%;height:auto;
    border:2px white;
    display: flex;
    flex-direction:row;
    
}
#fu{
    width:100%;height:auto;
    border:2px white;
    display: flex;
    flex-direction:row;
}
#fy{
    width:100%;height:auto;
    border:2px white;
    display: flex;
    flex-direction:row;
}
#ft{
    width:100%;height:auto;
    border:2px white;
    display: flex;
    flex-direction:row;
}
@media (max-width: 768px) {
    .fifi {
        flex-direction: column;
        align-items: flex-start;
    }
    #pika {
        width: 100%; 
    }
}
    
